/* 공통부분 */

* {
  box-sizing: border-box;
  color: #71513c;
  font-family: "SeoulHangang";
}

@font-face {
  font-family: "SeoulHangang";
  src: url("SeoulHangang_CEB_Regular.ttf") format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  padding: 40px;
  color: #71513c;
  background-color: #f5ebe0;
}

hr {
  border-color: #d4927d;
  border-top: 1px;
  position: static;
}

a {
  text-decoration: none;
}

/* index.html */

.home-a {
  text-decoration: none;
}

.home-navbar__logo {
  font-size: 50px;
  text-align: center;
  padding: 10px;
  color: #71513c;
}

.home-navbar__logo a {
  color: black;
}

.home-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e3d5ca;
}

.home-li {
  float: left;
  color: black;
}

.home-li a {
  display: block;
  color: black;
  text-align: center;
  padding: 20px 20px;
}

/* one */
.one_main_title {
  text-align: center;
  display: inline-block;
  width: 100%;
}

.one_sub_title {
  position: relative;
  top: 90px;
  left: 5px;
}

.one-hr {
  border-color: #d4927d;
  border-top: 1px;
  position: static;
  padding-left: 20px;
  padding-right: 20px;

  margin-bottom: 30px;
  min-width: 1000px;
}

.one-container {
  width: 70vw;
  max-width: 1000px;
  min-width: 900px;

  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 40px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  overflow: hidden;
}

.one_image_box {
  width: 360px;
  height: 360px;
  float: left;

  border-radius: 100px;
}

#one_add_images {
  padding: 50%;

  font-size: 50px;
  background-color: #e3d5ca;
  border: none;
  border-radius: 10px;
}

.one_input_form {
  text-align: right;
  width: 50%;
  float: right;

  margin-top: 20px;
}

.one_input_type,.one_select_type {
  padding: 10px;
  width: 350px;
  margin: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;

  font-size: 0.9rem;
}


.one_select_type option{
  padding: 5px;
}




#one_explain {

  padding-top: 460px;
  display: block;
}

#one_explain_area {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;

  text-align: left;
  display: inline-block;
}
.one_submit_btn {
  text-align: right;
}

#one_back_i {
  width: 100px;
  height: 40px;
  margin-right: 10px;

  background-color: #ccc;
  border-color: #ccc;
  border-radius: 5px;

  color: white;
  font-size: 15px;

}

#one_submit_i {
  width: 120px;
  height: 40px;
  margin-top: 10px;

  background-color: #d4927d;
  color: white;
  border: none;
  border-radius: 5px;

  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 15px;
}

#one_submit_i:hover {
  background-color: #503c2c;
}

/* two */
.two_top_navbar{
    min-width : 1000px;
    max-height : 25px;
    margin-top : 0;
    margin-bottom : -30px;
}

.two_top_navbar ul {
    overflow: hidden;
    background-color: #f5ebe0;
    margin-left : 1090px;
    max-height : 25px;
    list-style : none;
}

.two_top_navbar li{
  display:inline;
}

.two_top_navbar a{
  display : inline-block;
  color: #CADFDC;
  font-size : 18px;
  text-align : center;
  padding : 8px;
}



.two_navbar p {
    min-width : 900px;
    font-size : 60px;
    color:#71513C;
    letter-spacing : 10px;
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom : 10px;

}

.two_navbar p:hover{
    text-shadow:0px 0px 3px #A0A19C;
}

.two_navbar_container{
    min-width : 900px;
    margin: 0 auto;
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
}
.two_navbar ul {

    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

.two_navbar li {
    float: left;
}

.two_navbar li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 25px 40px;
    padding-bottom: 15px;
    color: #D4927D;
    font-size: 25px;
    letter-spacing : 10px;
}

.two_navbar li a:hover{
    color:#71513c;
}

.two_separator {
    border : 2px solid #D4927D;
    width : 1360px;
    margin : 0 auto;
}

.two_sort{
    margin-left:1250px;
    margin-top : 10px;
}

.two_sort_button{
    color: #CADFDC;
    background-color : #f5ebe0;
    border : none;
    font-size : 20px;
}

.two_sort_bar{
    margin-top : -35px;
    margin-left : -10px;
    margin-bottom : 20px;
}

.two_sort_bar ul{
    overflow: hidden;
    list-style : none;
    width : 150px;
    min-height : 20px;
}

.two_sort_bar li{
    margin-bottom : 5px;
}

.two_sort_bar a{
    display : border;
    color: #CADFDC;
    font-size : 18px;
    letter-spacing : 2px;
}

.two_sort_bar ul:hover ul{
    display: block;
    background-color : #CADFDC;
    color : #71513C;
}

.two_container {
    min-width : 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
    margin-top : 60px;
}

.two_card {
    display: block;
    margin-bottom : 60px;
    margin-right : 40px;
    margin-left : 40px;
    float: left;
}

.two_container a{
    text-decoration:none;
}


.two_container img {
    width: 350px;
    height: 350px;
    border-radius: 10px;
}


.two_text {
    text-align: left;
    margin: 5px;
}

.two_item_name {
    font-size: 18px;
    color: #71513C;
    margin: 5px;
}

.two_item_price {
    font-size: 15px;
    color: #CADFDC;
    margin: 5px;
}

.two_pagination{
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}

.two_pagination ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.two_pagination li{
    display: inline;
    margin: 5px;
}

.two_pagination a{
    text-decoration: none;
    padding: 5px 0px;
    color: #71513C;
}

.two_pagination a:hover{
    color: #D4927D;
}

/* four */
.four-home {
  padding: 20px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.four-home a {
  color: #71513c;
}

.four-hr {
  border-color: #d4927d;
  border-top: 1px;
  position: static;
  padding-left: 20px;
  padding-right: 20px;

  margin-bottom: 30px;
  min-width: 700px;
}

.four-container {
  width: 50vw;
  max-width: 800px;
  min-width: 700px;

  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  overflow: hidden;
}

.four-sub_title {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.four-input-group {
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.four-label {
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 1rem;
}

.four-text,
.four-file,
.four-review-content {
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.9rem;
}

.four-file {
  border: none;
  padding-left: 0px;
}

.four-review-content {
  resize: none;
}

.four-button {
  margin: 20px;
  padding: 13px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #d4927d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /*버튼 색 서서히 변함*/
  transition: background-color 0.3s ease;
  font-size: 18px;

  float: right;
  
}

.four-button:hover {
  background-color: #503c2c;
}

.four-rating-group {
  display: flex;
}

.four-rating {
  display: flex;
  margin-left: 30px;
}

.four-rating span {
  cursor: pointer;
  font-size: 1.5rem;
  color: #cadfdc;
  font-size: 25px;
  text-shadow: 0.1px 0 black;

  margin-right: 7px;
}

/* five */

.five_logo h1 {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  color: #71513c;
}

.five_logo a {
  font-size: 25px;
  text-align: left;
  padding: 25px;
  text-decoration: none;
  color: #71513c;
  font-weight: 500;
}

.five_logo hr {
  border-color: #d4927d;
}

.five_rate_avg {
  margin: 10px 20px;
  display: flex;
  flex-direction: row;
}

.five_unstar,
.five_star {
  font-size: 25px;
  color: #d4927d;
}

.five_star_numbers {
  font-size: 25px;
  color: #d4927d;
  font-weight: 500;
}

.five_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px 70px;
}

.five_title_img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* 수평 중앙 정렬 */
  margin: 30px 0px;
  align-items: center;
  border: 2px solid #71513c;
  border-radius: 10px;
  background-color: #fffef6;
}

.five_title_img a {
  padding: 20px;
}

.five_title_img img,
.five_review_img img {
  border-radius: 5%;
}

#five_back,
#five_next {
  color: #cadfdc;
  font-size: 25px;
  font-weight: bolder;
  border: none;
  background: none;
}

#five_back:hover,
#five_next:hover {
  color: #778e8a;
}

.five_review {
  background-color: #fffef6;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border: 2px solid #71513c;
  border-radius: 10px;
}

/* .satisfaction 스타일 변경 */
.five_review_header {
  display: flex;
  margin: 30px 90px;
}

.five_satisfaction {
  flex-grow: 1;
}

.five_satisfaction p {
  text-align: left;
  font-size: 15px;
  color: #a0a19c;
}

.five_order h2 {
  text-align: left;
  font-size: 15px;
  color: black;
}

.five_order a {
  text-decoration: none;
  color: #71513c;
}

.five_order a:hover {
  color: #d4927d;
}

.five_user_reviews {
  margin: 10px 90px;
}

.five_user_info {
  display: flex;
}

.five_review_profile {
  margin: 0px 10px;
}

.five_user_details {
  flex-grow: 1;
}

.five_user_name {
  margin: 0px;
  font-size: 20px;
  font-weight: 500;
  color: #71513c;
}

.five_user_rating .five_date {
  display: inline-block;
}

.five_date {
  color: #a0a19c;
}

.five_review_title {
  font-size: 15px;
  color: black;
  font-weight: 500;
}

.five_review_img img {
  height: 120px;
  width: 120px;
}

#five_thumb {
  display: flex;
  margin: 10px;
  align-items: flex-end;
}

#five_thumb h1 {
  color: #71513c;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 0px;
}

.five_thumbs_num,
#five_thumb_image {
  margin: 0px 5px;
  color: #d4927d;
}

.five_pagination {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.five_pagination ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.five_pagination li {
  display: inline;
  margin: 5px;
}

.five_pagination a {
  text-decoration: none;
  padding: 5px 0px;
  color: #71513c;
}

.five_pagination a:hover {
  color: #d4927d;
}

/* six */

.six-user-info {
  display: flex;
  align-items: center;
}

.six-avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 10px;
  margin-left: 20px;
}

.six-user-details {
  flex-grow: 1;
}

.six-nickname,
.six-product-name,
.six-date {
  margin: 15px;
}

#six-readonly {
  width: calc(100% - 40px);
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  height: 200px;
}

.six-unstar_rating {
  display: flex;
  margin-right: 20px;
}

.six-unstar {
  cursor: pointer;
  font-size: 25px;
  color: #cadfdc;
}

#six-wrap_image {
  float: left;
  overflow: hidden;
  margin: 10px;
  margin-left: 20px;
}

.six-article {
  float: left;
  margin-left: 5px;
}

.six-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: none;
  border-radius: 5px;
}

#six-thumb {
  margin-left: 20px;
  margin-bottom: 10px;
}

#six-thumb-image {
  width: 20px;
  height: 20px;
}

/* seven, eight */

#seven_login_box {
  width: 400px;
  margin: 10vh auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 5px;
  border: 1px solid #fff;
  border-radius: 10px;
  background: #fff;
  padding: 30px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  overflow: hidden;
}

#eight_register_box {
  width: 440px;
  margin: 10vh auto;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 5px;
  border: 1px solid #fff;
  border-radius: 10px;
  background: #fff;
  padding: 30px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  overflow: hidden;
}



#seven_h1, #eight_h1 {
  text-align: center;
}

.seven_userid,
.seven_userpwd {
  width: 250px;
  height: 30px;

    /*아이콘 자리*/
  background-position: left;
  padding: 5px;
  padding-left: 25px;

  background-color: #d9d9d9;
  color: #a0a19c;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  margin: 0 0;
}


.eight_placeholder {
  width: 280px;
  height: 30px;
  margin: 10px 20%;

    /*아이콘 자리*/
  background-position: left;
  padding: 5px;
  padding-left: 25px;

  background-color: #d9d9d9;
  color: #a0a19c;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  margin: 0 0;
}

#eight_userid {
  background-image: url(images/eight_id.png);
  background-repeat: no-repeat;

}
#eight_userpwd {
  background-image: url(images/eight_password.png);
  background-repeat: no-repeat;

}
#eight_userpwd_check {
  background-image: url(images/eight_check.png);
  background-repeat: no-repeat;

}
#eight_nickname {
  background-image: url(images/eight_tag.png);
  background-repeat: no-repeat;

}
#eight_email {
  background-image: url(images/eight_email.png);
  background-repeat: no-repeat;

}
#eight_phonenum {
  background-image: url(images/eight_phone.png);
  background-repeat: no-repeat;

}

#eight_id_check,
#eight_pwd_check {
  background-color: transparent;
  color: #cadfdc;
  text-align: right;
  border: none;
  text-decoration: underline;
  font-size: 12px;
  float: right;

}

.eight_check_word {
  font-size: 12px;
  color: #cadfdc;
}

#seven_userid {
  background-image: url(images/eight_id.png);
  background-repeat: no-repeat;
}
#seven_userpwd {
  background-image: url(images/eight_password.png);
  background-repeat: no-repeat;
}
#seven_id_remember {
  border: 3px solid #d4927d;
}
#seven_checkbox_label1 {
  margin-top: 5px;
  text-align: center;
}
#seven_checkbox_label2 {
  color: #d4927d;
  line-height: 10px;
  text-decoration: underline;
  font-size: 12px;
}
#seven_login,
#eight_register {
  background-color: #d4927d;
  color: #fffef6;
  border: #d4927d;
  text-align: center;
  display: inline-block;
  margin: 20px 25%;
  margin-bottom: 10px;
  width: 50%;
  height: 40px;
  border-radius: 5px;

  font-size: 15px;
}


#eight_register:hover {
  background-color: #503c2c;
}

#seven_login:hover {
  background-color: #503c2c;
}


#seven_service {
  text-align: center;
  font-size: 10pt;
}



/*nine*/

.nine-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    min-height: 100vh; 
}



.nine-market-name{
    margin-bottom : 50px;
}

.nine-market-name p{
    font-size : 60px;
    color:#71513C;
    letter-spacing : 10px;
    text-align: center;
    margin-bottom : 30px;
}

.nine-separator {
  border-top: 2px solid #d4927d;
  width: 300px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
}

.nine-separator2 {
  border-top: 2px solid #d4927d;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
}


.nine-user-profile {
    display: flex;
    align-items: center;
    border: 2px solid #d4927d; 
    border-radius: 10px; 
    padding: 10px; 
    background-color: white;
    margin-top: 10px;
    width: 1000px; 
    height : 200px;


    position: static;
}

.nine-user-profile img {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    margin-left:10px;
}

.nine-user-profile .nine-user-name {
    margin-left: 30px; 
    margin-top : -20px;
    margin-bottom: 60px;

    font-size: 40px;
    letter-spacing : 5px;
}


.nine-follow-button {
    background-color: #cadfdc; 
    color: #71513c; 
    padding: 10px 30px; 
    border: none; 
    border-radius: 5px; 
    font-size: 25px;
    
    margin-left :-160px;
    margin-top : 50px;
}

.nine-bell-button {
    padding: 5px 5px; 
    border-radius: 5px; 
    border: none;
    background-color: white;
    
    margin-left : 520px;
    margin-top : -100px;



}
.nine-bell-button img {
    width: 40px;
    height: 40px;
}

.nine-setting-button {
    border: none;
    background-color: white;
    
    margin-left : 520px;
    margin-top : -130px;
}
.nine-setting-button img {
    width: 30px;
    height: 30px;
}

.nine-following1 {
    font-size: 20px;
    padding: 3px 3px;
    border-radius: 5px; 
    background-color: #cadfdc; 
    margin: 3px;    
    margin-top : 30px;
}

.nine-follower1 {
    font-size: 20px;
    padding: 3px 3px;
    border-radius: 5px;
    background-color: #cadfdc; 
    margin: 3px;
    margin-left : -100px;
    margin-top : 30px;

}

.nine-following2 {
    font-size: 20px;
    padding: 3px 3px;
    border-radius: 5px;
    background-color: #cadfdc; 
    margin: 3px;
    margin-left : -100px;
    margin-top : 10px;
}

.nine-follower2 {
    font-size: 20px;
    padding: 3px 3px;
    border-radius: 5px;
    background-color: #cadfdc; 
    margin: 3px;
    margin-top : 10px;
}

.nine-product-containers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    width: 1030px;
    padding: 10px;

}

.nine-product-container {
    flex: 1; 
    border-radius: 10px; 
    padding: 10px; 
    margin: 5px;
    display: flex;
    flex-direction: column;
    background-color: white;
    
    position: static;
}

.nine-product-container h2 {
    align-self: flex-start;
    font-size : 35px;
    letter-spacing : 5px;
    margin-left : 8px;
}

.nine-separator {
    border-top: 2px solid #d4927d;
    margin-bottom: -20px;
}

.nine-page-button {
    align-self: flex-end; 
    background-color: white;
    border: none;
    cursor: pointer;

    margin-top : -50px;
}
.nine-page-button img {
    width: 30px;
    height: 30px;
}

.nine-product-cards {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    overflow : hidden;
    margin-top : 30px;
    margin-bottom : 90px;
    
}

.nine-product-card {
    width: 120px;
    height: 180px;
    margin: 8px;
}

.nine-product-card img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.nine-product-card p {
    align-self: start;
    margin: 0;
}

.nine-product-card h5 {
    align-self: start;
    margin: 0;
}

.nine-your-product-card {
    width: 120px;
    height: 180px;
    margin-left :50px;
    margin-right : 50px;
    
    margin-top : 20px;
    margin-bottom : 40px;
    
}

.nine-your-product-card img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.nine-your-product-card p {
    align-self: start;
    margin: 0;
}

.nine-your-product-card h5 {
    align-self: start;
    margin: 0;
}

.nine-profile-button {
    background-color: #3498db; 
    color: #fff; 
    padding: 5px 10px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    margin-right: 10px; 
}

.nine-hot-cards {
    width: 970px;
    height : 250px;
    border: 2px solid #d4927d;
    border-radius: 10px;

    margin-bottom: 30px;

    padding: 10px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    overflow: hidden;
}

.nine-hot-title {
    padding: 10px;
    font-size : 40px;
    color :#D4927D;
    font-weight : bold;
    font-style: italic;
    text-shadow: -2px 0 #71513C, 2px 0 #71513C, 2px 0 #71513C,  -2px 0 #71513C ;
    
    margin-left : 10px;
    margin-top : -5px;
    margin-bottom : -20px;
}

.nine-sort{
    margin-top : -15px;
    margin-left: 800px;
    margin-bottom : -20px;
}


.nine_name{
    margin-bottom : 15px;
    position:absolute;
}
.nine_name p{
    font-size : 60px;
    color:#71513C;
    letter-spacing : 3px;
    margin-top : 8px;
    margin-bottom : 15px;
}


.nine_separator{
    border : 3px solid #D4927D;
    width : 1360px;
    margin : 0 auto;
    margin-top : 98px;
    
}

.nine_navbar1{
    min-width : 1000px;
    max-height : 25px;
    margin-top : 0;
}

.nine_navbar1 ul {
    overflow: hidden;
    background-color: #f5ebe0;
    margin-left: 1070px;
    max-height : 25px;
    list-style : none;
}

.nine_navbar1 li{
  display:inline;
}

.nine_navbar1 a{
  display : inline-block;
  font-size : 18px;
  text-align : center;
  padding : 8px;
}


.nine_write_button {
  background-color: #CADFDC;
  font-weight: bold;
  font-size : 28px;
  color :#71513C;
  border : none;
  border-radius : 10px;
  height : 60px;
  width: 150px;
  margin-top : 10px;
  margin-left : 1150px;
}


.nine_navpart2{
    position : absolute;
    margin-top : 20px;
}
.nine_navbar2 {
    margin-top : -5px;
    margin-left : 120px;
    min-width : 1000px;
    max-height : 80px;
    
}

.nine_navbar2 ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style : none;
      overflow : hidden;
      margin-bottom : -4px;
      min-width : 1000px;
      max-height : 80px;
}

.nine_navbar2 li{
    margin : 10px;
    margin-bottom : 0px;
    margin-left: 15px;
    display:inline;
}

.nine_navbar2 a {
    padding : 10px 200px;
    text-align: center;
    letter-spacing : 5px;
    font-size : 30px;
    font-weight : bold;
    border-radius : 10px;
    display : inline-block;
    border : none;
}

.nine_navbar2 a:hover{
  background-color : #D4927D;
  border : 4px solid #D4927D;
}
.nine_navbar2 a.active{
  background-color : #f5ebe0;
  border : 4px solid #D4927D;
}

#bar{
  list-style-type: none;
  color:#71513C;
  text-decoration: none;
}

.nine_sold{
  display : none;
}


.nine_sort{
    margin-left:1250px;
    padding : 15px;
}

.nine_sort_button{
    color: #CADFDC;
    background-color : #f5ebe0;
    border : none;
    font-size : 20px;
}

.nine_sort_bar{
    margin-top : -35px;
    margin-left : -10px;
    margin-bottom : 20px;
}

.nine_sort_bar ul{
    overflow: hidden;
    list-style : none;
    width : 150px;
}

.nine_sort_bar li{
    margin-bottom : 5px;
}

.nine_sort_bar a{
    display : border;
    color: #CADFDC;
    font-size : 18px;
    letter-spacing : 2px;
}

.nine_sort_bar ul:hover ul{
    display: block;
    background-color : #CADFDC;
    color : #71513C;
}

.nine_list{
    margin : 0 auto;
    min-width : 1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.nine_selling{
    margin : 0 auto;
    min-width : 1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nine_gallery {
    margin-right : 30px;
    margin-left : 0px;
    float: left;
  }


.nine_gallery img {
    width: 300px;
    height: 300px;
    border-radius : 10px;
  }

.nine_fgallery{
    float : left;
    margin-top : 30px;
}

.nine_fgallery img {
    width: 280px;
    height: 280px;
    border-radius : 10px;
    margin : 15px;
    border : 4px solid white;
  }
  
.nine_desc {
    font-size : 20px;
    color : #71513C;
    text-align: left;
    margin-left: 10px;
  }

.nine_desc2{
    font-size : 15px;
    color: #CADFDC;
    text-align: left;
    margin-top : -10px;
    margin-left: 13px;
  }

.nine_heart{
    font-size : 50px;
    color:#D4927D;
    font-weight:bold;
    margin-top : -60px;
    margin-left : 250px;
  }

.nine_fheart{
    font-size : 50px;
    color:#D4927D;
    font-weight:bold;
    margin-top : -90px;
    margin-left : 240px;
  }

/*위치 고정 필요 팔로우하는 프로필 마다 컨테이너 */

.nine_follow{

    border-radius: 10px; 
    padding: 30px; 
    background-color: white;
    margin-left:120px;
    margin-top : 60px;
    width: 1100px; 
    height : 600px;
}
  .nine_profile_name{
      font-size : 45px;
      position : absolute;
      margin-left : 210px;
      margin-top : -100px;
      max-height : 60px;
      letter-spacing : 3px;
      
  }
  
  .nine_profile{

      width : 150px;
      height : 150px;
      border-radius : 50%;
      overflow : hidden;
      border : 2px solid #71513C;
  }
  
  .nine_profile img{
      width : 100%;
      height : 100%;
      object-fit : cover;
  }
  
  .nine_following_button1{
      background-color: #cadfdc; 
      color: #71513c; 
      padding: 10px 30px; 
      border: none; 
      border-radius: 5px; 
      font-size: 30px;
      position : absolute;
      margin-left : 900px;
      margin-top : -100px;
  }
  
  .nine_following_button2{
      border-radius : 50%;
      overflow : hidden;
      min-height : 5px;
      min-width: 5px;
      position : absolute;
      margin-left : 1000px;
      margin-top : -40px;
  
  }
  
  .nine_following_button2 img{
      object-fit : cover;
      width : 20px;
      height : 20px;
  }
  
  .nine_about{
    
    width: 1040px;
    height : 360px;
    border: 2px solid #d4927d;
    border-radius: 10px;
    
    margin-top : 20px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    overflow: hidden;
  }
  
  div.nine_hot{
      position : absolute;
      margin-left: 90px;
      margin-top : 50px;
      font-size : 40px;
      color :#D4927D;
      font-weight : bold;
      font-style: italic;
      text-shadow: -2px 0 #71513C, 2px 0 #71513C, 2px 0 #71513C,  -2px 0 #71513C ;
  }

  /* list.html */
  .page-nation li{
    list-style: none;
   }
   
   .page-wrap{
    text-align: center;
    font-size: 0;
   }

   .page-nation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
   }

   .page-nation a{
    display: block;
    margin: 0 3px;
    float: left;
    border: 1px solid #e6e6e6;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background-color: #fff;
    font-size: 13px;
    color: black;
    text-decoration: none;
    font-weight:bold;
   }   