<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <script src="{{url_for('static', filename='main.js')}}" defer></script>
</head>
<body class="contact-body">

    <div class = "main-icon">
        <div class="christ-icon">
            <img src="../../static/images/computer_ticon.png" />
        </div>
        <div class="title"><a href="/">컴퓨터 공화국</a></div>
    </div>
    <hr class="contact-hr"/>

    <!--멤버 5개 생성-->
    <div class="members">
        <div class = "member-list">
            <div class = "member-container">
            <img src="../../static/images/주소연_ticon.jpg"> 
            <p class = "member-name">주소연</p>
            <p class = "member-info">
                <a>2</a><br/>
                <a>백엔드</a>
            </p>
            </div>
        </div>
    
        <div class = "member-list">
            <div class = "member-container">
            <img src="../../static/images/유화경_ticon.jpg"> 
            <p class = "member-name">유화경</p>
            <p class = "member-info">
                <a>2</a><br/>
                <a>백엔드</a>
            </p>
            </div>
        </div>
    
        <div class = "member-list">
            <div class = "member-container">
            <img src="../../static/images/정유진_ticon.jpg"> 
            <p class = "member-name">정유진</p>
            <p class = "member-info">
                <a>2</a><br/>
                <a>백엔드</a>
            </p>
            </div>
        </div>
    
        <br/>
    
        <div class = "member-list2">
            <div class = "member-container">
            <img src="../../static/images/신유진_ticon.jpg"> 
            <p class = "member-name">신유진</p>
            <p class = "member-info">
                <a>2</a><br/>
                <a>프론트엔드</a>
            </p>
            </div>
        </div>
    
        <div class = "member-list">
            <div class = "member-container">
            <img src="../../static/images/장유현_ticon.jpg"> 
            <p class = "member-name">장유현</p>
            <p class = "member-info">
                <a>2</a><br/>
                <a>프론트엔드</a>
            </p>
            </div>
        </div>        
    </div>


</body>
</html>
