<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <script src="{{url_for('static', filename='main.js')}}" defer></script>
</head>
<body>
    <div class = "main-icon">
        <img> <!--메인화면으로 돌아가는 아이콘-->
    </div>
    <div class="team-name">컴퓨터 공화국 </div>
    <!--멤버 5개 생성-->
    <div class = "member-list">
        <div class = "member-container">
        <img> <!--미모티콘-->
        <p class = "member-name"><!--이름--></p>
        <p class = "memember-info">
            <a></a><!--과 & 학번-->
            <a></a><!--역할 (프론트 or 백)-->
        </p>
        </div>
    </div>
</body>
</html>