<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Item</title>
    <!--css, js 파일 연결-->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script src="{{url_for('static', filename='main.js')}}" defer></script>
  </head>

    <h2 class="home-side"><a href="/">이화 산타</a></h2>
    <hr class="home-side-hr" />

    <!-- 네비게이터 -->
    <div class="three-container">
      <header>
        <h1>
          <a href="" class="sub-title">상품 상세</a>
        </h1>
      </header>

      <div class="three-content">
        <div class="three-item-image">
          <img src="../../static/images/{{data.img_path}}" />
        </div>

        <div class="three-item-sum">
          <p
            class="three-seller-name"
            onclick="location.href='/yourpage/{{data.seller}}/';"
          >
            판매자 : {{data.seller}}
          </p>
          <p class="three-product-name">상품명 : {{name}}</p>
          <p class="three-price">가격 : {{data.price}}</p>
          <p class="three-category">카테고리 : {{data.category}}</p>
          <p class="three-option">옵션 : {{data.option_dsc}}</p>
        </div>

        <div class="detail-txt">
          <p>{{data.item_explain}}</p>
        </div>
        {% if is_logged_in %}
        <button
          type="submit"
          class="submit-button"
          onclick="location.href='/buybutton/{{ session['id'] }}?item_name={{ name }}';"
        >
          구매하기
        </button>
        {% endif %}
      </div>
    </div>
  </body>
</html>
