<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <script src="{{url_for('static', filename='main.js')}}" defer></script>
</head>
<body>
    <nav class="home-navbar">
    <div class="home-navbar__logo">
        <a class="home-a" href="">EwhaMarket</a>
    </div>
    <ul class="home-ul">
        <li class="home-li"><a class="home-a" href="/login">Login</a></li>
        <li class="home-li"><a class="home-a" href="/list">List</a></li>
        <li class="home-li"><a class="home-a" href="/review">Review</a></li>
        <li class="home-li"><a class="home-a" href="/review_detail">Review Detail</a></li>
        <li class="home-li"><a class="home-a" href="/reg_items">Register Items</a></li>
        <li class="home-li"><a class="home-a" href="/contact">Contact</a></li>
    </ul>
    <a href="#" class="navbar__toogleBtn">
        <i class="fas fa-bars"></i>
    </a>
    </nav>
    <section>
        {% block section %}
        
        {% endblock section %}
    </section>
</body>
</html>