{% extends "top.html" %} {% block section %}
<div class="sort">
  <button class="sort_button" onclick="toggleDiv()">▼ All</button>
  <div class="sort_content" id="sortContents" style="display: none">
    <a href="{{url_for('view_list', page=i, category='all')}}">All</a>
    <a href="{{url_for('view_list', page=i, category='Cake')}}">케이크</a>
    <a href="{{url_for('view_list', page=i, category='Macaroon')}}">마카롱</a>
    <a href="{{url_for('view_list', page=i, category='Bagel')}}">베이글</a>
    <a href="{{url_for('view_list', page=i, category='Cookie')}}">쿠키</a>
    <a href="{{url_for('view_list', page=i, category='Croissant')}}"
      >크로와상</a
    >
    <a href="{{url_for('view_list', page=i, category='ECT_sel')}}">기타</a>
  </div>
</div>

{% if total > 0 %}
<p class="two_total">현재까지 상품 {{total}}개가 등록되었습니다.</p>
<!-- <div>
    <select id="category" name="category" onchange="location=this.value">>
        <option value="{{url_for('view_list', page=page, category=category, sort='name')}}">이름순</option>
        <option value="{{url_for('view_list', page=page, category=category, sort='price_asc')}}">낮은 가격순</option>
        <option value="{{url_for('view_list', page=page, category=category, sort='price_desc')}}">높은 가격순</option>
    </select>
    </div>-->

<div class="container">
  <table>
    <tr class="product-row">
      {% for key, value in row1 %}
      <td class="card">
        <div
          onclick="location.href='/view_detail/{{key}}/';"
          style="cursor: pointer"
        >
          <img
            src="../static/images/{{value.img_path}}"
            alt="{{key}}"
            class="card_img"
          />
          <!-- 이미지 -->
          <div class="text">
            <p class="item_name">{{key}}</p>
            <!-- 상품 이름 -->
            <p class="item_price">{{value.price}}원</p>
            <!-- 상품 가격 -->
          </div>
        </div>
      </td>
      {% endfor %}
    </tr>
    <tr class="product-row">
      {% for key, value in row2 %}
      <td class="card">
        <div
          onclick="location.href='/view_detail/{{key}}/';"
          style="cursor: pointer"
        >
          <img
            src="../static/images/{{value.img_path}}"
            alt="{{key}}"
            class="card_img"
          />
          <!-- 이미지 -->
          <div class="nine_heart" onclick="like(this)">♡</div>
          <div class="text">
            <p class="item_name">{{key}}</p>
            <!-- 상품 이름 -->
            <p class="item_price">{{value.price}}원</p>
            <!-- 상품 가격 -->
          </div>
        </div>
      </td>
      {% endfor %}
    </tr>
  </table>
</div>
<!-- 페이지네이션을 위한 코드 시작 -->
<div class="pagination">
  <ul>
    {% for i in range(1, page_count + 1) %}
    <li class="list_page_nation">
      <a
        href="{{url_for('view_list', page=i - 1, category=category, sort=sort)}}"
        color="black"
        >{{i}}</a
      >
    </li>
    {% endfor %}
  </ul>
</div>
<!-- 페이지네이션을 위한 코드 끝 -->

{% else %}
<p class="two_total">등록된 상품이 없습니다.</p>
{% endif %} {% endblock section %}

<script>
  $(document).ready(function () {
    //alert("{{category}}")
  });
  $('#category option:contains("{{category}}")').prop("selected", true);

  $(document).ready(function () {
    var currentCategory = "{{category}}";
    $(".sort_content a").each(function () {
      if ($(this).text() === currentCategory) {
        $(this).addClass("active");
      }
    });
  });

  $(document).ready(function () {
    var currentSort = "{{sort}}";
    $(".sort_content a").each(function () {
      var linkSort = new URL($(this).attr("href")).searchParams.get("sort");
      if (linkSort === currentSort) {
        $(this).addClass("active");
      }
    });
  });
</script>
