<!DOCTYPE html>
<html>
<head>
    <title>EWHA MARKET</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <script src="{{url_for('static', filename='main.js')}}" defer></script>
</head>

<body>
    <div class="nine-container">
        <div class="nine-market-name">
            <h2>이화산타</h2>
            <div class="nine-separator"></div>
        </div>
        
        <div class="nine-user-profile">

            <img src="사용자_프로필.png" alt="사용자 프로필 사진">
            <div class="nine-user-name">USER</div>
            <div class="nine-follower">follower00</div>
            <div class="nine-following">following00</div>
            <button class="nine-setting-button"><img src="설정.png" alt="setting"></button>

        </div>

        <div class="nine-product-containers">
            <div class="nine-product-container">
                <h2>판매중인 상품</h2>
                <div class="nine-separator"></div> 
                <button class="nine-page-button"><img class="nine-button-mark" src="화살표.png" alt="arrow"></button>

                <div class="nine-product-cards">

                    <a target="_blank">
                        <div class="nine-product-card">
                            <img src="이미지_파일의_경로.png" alt="상품 이미지">
                            <h5>
                                name
                            </h5>
                            <p>0000-00-00</p>
                        </div>
                    </a>
                    

                    <a target="_blank">
                        <div class="nine-product-card">
                            <img src="이미지_파일의_경로.png" alt="상품 이미지">
                            <h5>
                                name
                            </h5>
                            <p>0000-00-00</p>
                        </div>
                    </a>

                    <a target="_blank">
                        <div class="nine-product-card">
                            <img src="이미지_파일의_경로.png" alt="상품 이미지">
                            <h5>
                                name
                            </h5>
                            <p>0000-00-00</p>
                        </div>
                    </a>

                    <a target="_blank">
                        <div class="nine-product-card">
                            <img src="이미지_파일의_경로.png" alt="상품 이미지">
                            <h5>
                                name
                            </h5>
                            <p>0000-00-00</p>
                        </div>
                    </a>

                    <a target="_blank">
                        <div class="nine-product-card">
                            <img src="이미지_파일의_경로.png" alt="상품 이미지">
                            <h5>
                                name
                            </h5>
                            <p>0000-00-00</p>
                        </div>
                    </a>

                    <a target="_blank">
                        <div class="nine-product-card">
                            <img src="이미지_파일의_경로.png" alt="상품 이미지">
                            <h5>
                                name
                            </h5>
                            <p>0000-00-00</p>
                        </div>
                    </a>


                </div>
            </div>

            <div class="nine-product-container">
                <h2>관심 상품</h2>
                <div class="nine-separator"></div> 
                <button class="nine-page-button"><img class="nine-button-mark" src="화살표.png" alt="arrow"></button>

                <div class="nine-product-cards">
                    <a target="_blank">
                        <div class="nine-product-card">
                            <img src="이미지_파일의_경로.png" alt="상품 이미지">
                            <h5>
                                name
                            </h5>
                            <p>0000-00-00</p>
                        </div>
                    </a>
                    

                    <a target="_blank">
                        <div class="nine-product-card">
                            <img src="이미지_파일의_경로.png" alt="상품 이미지">
                            <h5>
                                name
                            </h5>
                            <p>0000-00-00</p>
                        </div>
                    </a>

                    <a target="_blank">
                        <div class="nine-product-card">
                            <img src="이미지_파일의_경로.png" alt="상품 이미지">
                            <h5>
                                name
                            </h5>
                            <p>0000-00-00</p>
                        </div>
                    </a>

                    <a target="_blank">
                        <div class="nine-product-card">
                            <img src="이미지_파일의_경로.png" alt="상품 이미지">
                            <h5>
                                name
                            </h5>
                            <p>0000-00-00</p>
                        </div>
                    </a>

                    <a target="_blank">
                        <div class="nine-product-card">
                            <img src="이미지_파일의_경로.png" alt="상품 이미지">
                            <h5>
                                name
                            </h5>
                            <p>0000-00-00</p>
                        </div>
                    </a>

                    <a target="_blank">
                        <div class="nine-product-card">
                            <img src="이미지_파일의_경로.png" alt="상품 이미지">
                            <h5>
                                name
                            </h5>
                            <p>0000-00-00</p>
                        </div>
                    </a>  
                </div>
             
            </div>

            <div class="nine-product-container">
                <h2>관심 상품</h2>
                <div class="nine-separator"></div> 
                <button class="nine-page-button"><img class="nine-button-mark" src="화살표.png" alt="arrow"></button>

                <div class="nine-product-cards">
                    <a target="_blank">
                        <div class="nine-product-card">
                            <img src="이미지_파일의_경로.png" alt="상품 이미지">
                            <h5>
                                name
                            </h5>
                            <p>0000-00-00</p>
                        </div>
                    </a>
                    

                    <a target="_blank">
                        <div class="nine-product-card">
                            <img src="이미지_파일의_경로.png" alt="상품 이미지">
                            <h5>
                                name
                            </h5>
                            <p>0000-00-00</p>
                        </div>
                    </a>

                    <a target="_blank">
                        <div class="nine-product-card">
                            <img src="이미지_파일의_경로.png" alt="상품 이미지">
                            <h5>
                                name
                            </h5>
                            <p>0000-00-00</p>
                        </div>
                    </a>

                    <a target="_blank">
                        <div class="nine-product-card">
                            <img src="이미지_파일의_경로.png" alt="상품 이미지">
                            <h5>
                                name
                            </h5>
                            <p>0000-00-00</p>
                        </div>
                    </a>

                    <a target="_blank">
                        <div class="nine-product-card">
                            <img src="이미지_파일의_경로.png" alt="상품 이미지">
                            <h5>
                                name
                            </h5>
                            <p>0000-00-00</p>
                        </div>
                    </a>

                    <a target="_blank">
                        <div class="nine-product-card">
                            <img src="이미지_파일의_경로.png" alt="상품 이미지">
                            <h5>
                                name
                            </h5>
                            <p>0000-00-00</p>
                        </div>
                    </a>  
                </div>
             
            </div>
        </div>
    </div>

    <!-- 나머지 컨텐츠를 이어서 추가하세요 -->

</body>
</html>
