{%extends "top.html"%} {% block section %}
<html>
  <head>
    <title>MYPAGE</title>
  </head>
  <body>
    <div class="nine-container">
      <div class="nine-user-profile">
        <img src="nine_profile.png" />
        <div class="nine-user-name">USER</div>
        <div class="nine-follower1">follower 00</div>
        <div class="nine-following1">following 00</div>
        <button class="nine-setting-button"><img src="option.png" /></button>
      </div>

      <div class="nine-product-containers">
        <div class="nine-product-container">
          <h2>판매 상품</h2>
          <div class="nine-separator2"></div>
          <button
            class="nine-page-button"
            onclick="window.location.href='/mysell'"
          >
            <img
              class="nine-button-mark"
              src="../static/images/arrowicon.png"
              alt="arrow"
            />
          </button>

          <div class="nine-product-cards">
            <a target="_blank">
              <div class="nine-product-card">
                <img src="../static/images/nine_cake3.jpeg" alt="상품 이미지" />
                <h5>name</h5>
                <p>0000-00-00</p>
              </div>
            </a>

            <a target="_blank">
              <div class="nine-product-card">
                <img src="../static/images/nine_cake3.jpeg" alt="상품 이미지" />
                <h5>name</h5>
                <p>0000-00-00</p>
              </div>
            </a>

            <a target="_blank">
              <div class="nine-product-card">
                <img src="../static/images/nine_cake3.jpeg" alt="상품 이미지" />
                <h5>name</h5>
                <p>0000-00-00</p>
              </div>
            </a>

            <a target="_blank">
              <div class="nine-product-card">
                <img src="../static/images/nine_cake3.jpeg" alt="상품 이미지" />
                <h5>name</h5>
                <p>0000-00-00</p>
              </div>
            </a>

            <a target="_blank">
              <div class="nine-product-card">
                <img src="../static/images/nine_cake3.jpeg" alt="상품 이미지" />
                <h5>name</h5>
                <p>0000-00-00</p>
              </div>
            </a>

            <a target="_blank">
              <div class="nine-product-card">
                <img src="../static/images/nine_cake3.jpeg" alt="상품 이미지" />
                <h5>name</h5>
                <p>0000-00-00</p>
              </div>
            </a>
          </div>
        </div>

        <div class="nine-product-container">
          <h2>관심 상품</h2>
          <div class="nine-separator2"></div>
          <button
            class="nine-page-button"
            onclick="location.href = 'nine_like.html'"
          >
            <img
              class="nine-button-mark"
              src="../static/images/arrowicon.png"
              alt="arrow"
            />
          </button>

          <div class="nine-product-cards">
            <a target="_blank">
              <div class="nine-product-card">
                <img src="../static/images/nine_cake3.jpeg" alt="상품 이미지" />
                <h5>name</h5>
                <p>0000-00-00</p>
              </div>
            </a>

            <a target="_blank">
              <div class="nine-product-card">
                <img src="../static/images/nine_cake3.jpeg" alt="상품 이미지" />
                <h5>name</h5>
                <p>0000-00-00</p>
              </div>
            </a>

            <a target="_blank">
              <div class="nine-product-card">
                <img src="../static/images/nine_cake3.jpeg" alt="상품 이미지" />
                <h5>name</h5>
                <p>0000-00-00</p>
              </div>
            </a>

            <a target="_blank">
              <div class="nine-product-card">
                <img src="../static/images/nine_cake3.jpeg" alt="상품 이미지" />
                <h5>name</h5>
                <p>0000-00-00</p>
              </div>
            </a>

            <a target="_blank">
              <div class="nine-product-card">
                <img src="../static/images/nine_cake3.jpeg" alt="상품 이미지" />
                <h5>name</h5>
                <p>0000-00-00</p>
              </div>
            </a>

            <a target="_blank">
              <div class="nine-product-card">
                <img src="../static/images/nine_cake3.jpeg" alt="상품 이미지" />
                <h5>name</h5>
                <p>0000-00-00</p>
              </div>
            </a>
          </div>
        </div>

        <div class="nine-product-container">
          <h2>구매 상품</h2>
          <div class="nine-separator2"></div>
          <button
            class="nine-page-button"
            onclick="location.href = 'nine_buy.html'"
          >
            <img
              class="nine-button-mark"
              src="../static/images/arrowicon.png"
              alt="arrow"
            />
          </button>

          <div class="nine-product-cards">
            <a target="_blank">
              <div class="nine-product-card">
                <img src="../static/images/nine_cake3.jpeg" alt="상품 이미지" />
                <h5>name</h5>
                <p>0000-00-00</p>
              </div>
            </a>

            <a target="_blank">
              <div class="nine-product-card">
                <img src="../static/images/nine_cake3.jpeg" alt="상품 이미지" />
                <h5>name</h5>
                <p>0000-00-00</p>
              </div>
            </a>

            <a target="_blank">
              <div class="nine-product-card">
                <img src="../static/images/nine_cake3.jpeg" alt="상품 이미지" />
                <h5>name</h5>
                <p>0000-00-00</p>
              </div>
            </a>

            <a target="_blank">
              <div class="nine-product-card">
                <img src="../static/images/nine_cake3.jpeg" alt="상품 이미지" />
                <h5>name</h5>
                <p>0000-00-00</p>
              </div>
            </a>

            <a target="_blank">
              <div class="nine-product-card">
                <img src="../static/images/nine_cake3.jpeg" alt="상품 이미지" />
                <h5>name</h5>
                <p>0000-00-00</p>
              </div>
            </a>

            <a target="_blank">
              <div class="nine-product-card">
                <img src="../static/images/nine_cake3.jpeg" alt="상품 이미지" />
                <h5>name</h5>
                <p>0000-00-00</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- 나머지 컨텐츠를 이어서 추가하세요 -->
  </body>
  {% endblock section %}
</html>
