
<!DOCTYPE html> 
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>팔로잉</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <script src = "main.js"></script>
    </head> 
    <body>
    <div class="nine_navbar1">
        <ul style = "background-color: #f5ebe0;">
            <li><a href="/my_page" style = "color: #71513c;">홈</a></li>
            <li><a href="/home" style = "color: #71513c;">마이페이지</a></li>
            <li><a href="/login" style = "color: #71513c;">로그아웃</a></li>
        </ul>
    </div>
    <div class="nine_name">
        <p href="buy.html" class = "nine_love">팔로잉</p>
    </div>
    <div class = "nine_separator"></div>
    <section>
        <div class = "nine_follow">
            <div class = "nine_profile">
                <a><img src = "nine_profile.png"></a>
            </div>
            <div class = "nine_profile_name">
                    <a>FOLLOWER</a>
            </div>
            <button class = "nine_following_button1">450 ❤</button>
            <button class = "nine_following_button2" onclick = "location.href = '/profile'">
                    <img src = "nine_arrow.png">
            </button>
            
            <div class = "nine_hot">HOT</div>
            <div class = "nine_about">
                <div clas = "nine_follow_cards">
                <div class = "nine_fgallery">
                    <a href="/product"><img src = "nine_cake.jpeg" style = "border: 4px solid yellow;"></a>
                    <div class  ="nine_fheart"  id= "likebtn1" onclick = 'like1()'>♡</div>
                </div>
                <div class = "nine_fgallery">
                    <a href="/product"><img src = "nine_cake.jpeg"></a>
                    <div class  ="nine_fheart"  id= "likebtn2" onclick = 'like2()'>♡</div>
                </div>
                <div class = "nine_fgallery">
                    <a href="/product"><img src = "nine_cake.jpeg"></a>
                    <div class  ="nine_fheart"  id= "likebtn3" onclick = 'like3()'>♡</div>
                </div>                       
                </div>
            </div> 
        </div>
<div class = "nine_follow">
            <div class = "nine_profile">
                <a><img src = "nine_profile.png"></a>
            </div>
            <div class = "nine_profile_name">
                    <a>FOLLOWER</a>
            </div>
            <button class = "nine_following_button1">450 ❤</button>
            <button class = "nine_following_button2" onclick = "location.href = '/profile'">
                    <img src = "nine_arrow.png">
            </button>
            
            <div class = "nine_hot">HOT</div>
            <div class = "nine_about">
                <div clas = "nine_follow_cards">
                <div class = "nine_fgallery">
                    <a href="/product"><img src = "nine_cake.jpeg" style = "border: 4px solid yellow;"></a>
                    <div class  ="nine_fheart"  id= "likebtn1" onclick = 'like1()'>♡</div>
                </div>
                <div class = "nine_fgallery">
                    <a href="/product"><img src = "nine_cake.jpeg"></a>
                    <div class  ="nine_fheart"  id= "likebtn2" onclick = 'like2()'>♡</div>
                </div>
                <div class = "nine_fgallery">
                    <a href="/product"><img src = "nine_cake.jpeg"></a>
                    <div class  ="nine_fheart"  id= "likebtn3" onclick = 'like3()'>♡</div>
                </div>                       
                </div>
            </div> 
        </div>
    </section>
    </body>
    </html>