
<!DOCTYPE html> 
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>구매 내역</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <script src="{{url_for('static', filename='main.js')}}" defer></script>
    <script src = "main.js"></script>
    </head> 

    <body>
    <div class="nine_navbar1">
        <ul>
            <li><a href="/my_page">홈</a></li>
            <li><a href="/home">마이페이지</a></li>
            <li><a href="/login">로그아웃</a></li>
        </ul>
    </div>
    <div class="nine_name">
        <p href="buy.html">구매 내역</p>
    </div>
    <div class = "nine_separator"></div>
    <div class = "nine_sort">
            <button class = "nine_sort_button">▼</button>
            <div class = "nine_sort_bar">
                <ul>
                    <li><a>최신순</a></li>
                    <!--<li><a>오래된순</a></li>-->
                    <!--<li><a>이름순</a></li>-->
                    <!--<li><a>낮은 가격순</a></li>-->
                    <!--<li><a>높은 가격순</a></li>-->
                </ul>
            </div>
    </div>

    <section>
        <div class = "nine_list">
            <div class = "nine_gallery" id = "start">
                <a href="/product"><img src = "nine_cake.jpeg"></a>
                <div class  ="nine_heart"  id= "likebtn1" onclick = 'like1()'>♡</div>
                <p class = "nine_desc">상품명</p>
                <p class = "nine_desc2">10000원</p>
            </div>
            <div class = "nine_gallery">
                 <a href="/product"><img src = "nine_cake.jpeg"></a>
                 <div class  ="nine_heart"  id= "likebtn2" onclick = 'like2()'>♡</div>
                 <p class = "nine_desc">상품명</p>
                 <p class = "nine_desc2">10000원</p>
            </div>
            <div class = "nine_gallery">
                <a href="/product"><img src = "nine_cake.jpeg"></a>
                <div class  ="nine_heart"  id= "likebtn3" onclick = 'like3()'>♡</div>
                <p class = "nine_desc">상품명</p>
                <p class = "nine_desc2">10000원</p>
            </div>
            <div class = "nine_gallery">
                <a href="/product"><img src = "nine_cake.jpeg"></a>
                <div class  ="nine_heart"  id= "likebtn4" onclick = 'like4()'>♡</div>
                <p class = "nine_desc">상품명</p>
                <p class = "nine_desc2">10000원</p>
            </div>
            <div class = "nine_list">
            <div class = "nine_gallery">
                <a href="/product"><img src = "nine_cake.jpeg"></a>
                <div class  ="nine_heart"  id= "likebtn5" onclick = 'like5()'>♡</div>
                <p class = "nine_desc">상품명</p>
                <p class = "nine_desc2">10000원</p>
            </div>
            <div class = "nine_gallery">
                 <a href="/product"><img src = "nine_cake.jpeg"></a>
                 <div class  ="nine_heart"  id= "likebtn6" onclick = 'like6()'>♡</div>
                 <p class = "nine_desc">상품명</p>
                 <p class = "nine_desc2">10000원</p>
            </div>
            <div class = "nine_gallery">
                <a href="/product"><img src = "nine_cake.jpeg"></a>
                <div class  ="nine_heart"  id= "likebtn7" onclick = 'like7()'>♡</div>
                <p class = "nine_desc">상품명</p>
                <p class = "nine_desc2">10000원</p>
            </div>
            <div class = "nine_gallery">
                <a href="/product"><img src = "nine_cake.jpeg"></a>
                <div class  ="nine_heart"  id= "likebtn8" onclick = 'like8()'>♡</div>
                <p class = "nine_desc">상품명</p>
                <p class = "nine_desc2">10000원</p>
            </div>
       </div>
    </section>
    </body>
    </html>