
<!DOCTYPE html> 
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>구매 내역</title>
    <link rel="stylesheet" type = "text/css" href="style.css">
    <script src = "main.js"></script>
    </head> 
    <body style = "background-color : white";>
    <div class="nine_navbar1">
        <ul>
        <li><a class = "nine_default" href="/home">마이페이지</a></li>
          <li><a class = "nine_default" href="/login">로그아웃</a></li>
          <li><a class = "nine_default" href="/my_page">홈</a></li>
        </ul>
      </div>
    <br>
    <div class="nine_logo">
    <a class = "nine_default" href="">구매 내역</a> 
    </div>
    <br>
    <hr class = "nine_buy_like_hr">
    <p  class = "nine_buy_like_sort">▼ 최신순</p>
    <section>
        <div class = "nine_list">
            <div class = "nine_gallery">
                <a href="/product">
                  <img src = "nine_cake.jpeg">
                </a>
                <div class  ="nine_buy_like_heart"  id= "likebtn1" onclick = 'like1()'>♡</div>
                <div class = "nine_desc">상품명</div>
                <div class = "nine_desc2">10000원</div>
            </div>
            <div class = "nine_gallery">
              <a href="/product">
                <img src = "nine_cake.jpeg">
              </a>
              <div class  ="nine_buy_like_heart"  id= "likebtn2" onclick = 'like2()'>♡</div>
              <div class = "nine_desc">상품명</div>
              <div class = "nine_desc2">10000원</div>
          </div>
          <div class = "nine_gallery">
            <a href="/product">
              <img src = "nine_cake.jpeg">
            </a>
            <div class  ="nine_buy_like_heart"  id= "likebtn3" onclick = 'like3()'>♡</div>
            <div class = "nine_desc">상품명</div>
            <div class = "nine_desc2">10000원</div>
        </div>
        <div class = "nine_gallery">
          <a href="/product">
            <img src = "nine_cake.jpeg">
          </a>
          <div class  ="nine_buy_like_heart"  id= "likebtn4" onclick = 'like4()'>♡</div>
          <div class = "nine_desc">상품명</div>
          <div class = "nine_desc2">10000원</div>
      </div>
      <div class = "nine_gallery">
        <a href="/product">
            <img src = "nine_cake.jpeg" alt = "cake1" width="600" height="600">
        </a>
        <div class  ="nine_buy_like_heart"  id= "likebtn5" onclick = 'like5()'>♡</div>
        <div class = "nine_desc">상품명</div>
        <div class = "nine_desc2">10000원</div>
    </div>
    <div class = "nine_gallery">
      <a href="/product">
        <img src = "nine_cake.jpeg">
      </a>
      <div class  ="nine_buy_like_heart"  id= "likebtn6" onclick = 'like6()'>♡</div>
      <div class = "nine_desc">상품명</div>
      <div class = "nine_desc2">10000원</div>
    </div>
    <div class = "nine_gallery">
      <a href="/product">
        <img src = "nine_cake.jpeg">
      </a>
      <div class  ="nine_buy_like_heart"  id= "likebtn7" onclick = 'like7()'>♡</div>
      <div class = "nine_desc">상품명</div>
      <div class = "nine_desc2">10000원</div>
    </div>
    <div class = "nine_gallery">
      <a href="/product">
        <img src = "nine_cake.jpeg">
      </a>
      <div class  ="nine_buy_like_heart"  id= "likebtn8" onclick = 'like8()'>♡</div>
      <div class = "nine_desc">상품명</div>
      <div class = "nine_desc2">10000원</div>
    </div>
    <div class = "nine_gallery">
      <a href="/product">
        <img src = "nine_cake.jpeg">
      </a>
      <div class  ="nine_buy_like_heart"  id= "likebtn9" onclick = 'like9()'>♡</div>
      <div class = "nine_desc">상품명</div>
      <div class = "nine_desc2">10000원</div>
    </div>
    <div class = "nine_gallery">
      <a href="/product">
        <img src = "nine_cake.jpeg">
      </a>
      <div class  ="nine_buy_like_heart"  id= "likebtn10" onclick = 'like10()'>♡</div>
      <div class = "nine_desc">상품명</div>
      <div class = "nine_desc2">10000원</div>
    </div>
    <div class = "nine_gallery">
      <a href="/product">
        <img src = "nine_cake.jpeg">
      </a>
      <div class  ="nine_buy_like_heart"  id= "likebtn11" onclick = 'like11()'>♡</div>
      <div class = "nine_desc">상품명</div>
      <div class = "nine_desc2">10000원</div>
    </div>
    <div class = "nine_gallery">
      <a href="/product">
        <img src = "nine_cake.jpeg">
      </a>
      <div class  ="nine_buy_like_heart"  id= "likebtn12" onclick = 'like12()'>♡</div>
      <div class = "nine_desc">상품명</div>
      <div class = "nine_desc2">10000원</div>
    </div>
    </div>
    </section>
    </body>
    </html>