<!DOCTYPE html>
<html>
<head>
    <title>EWHA MARKET</title>

    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <script src="{{url_for('static', filename='main.js')}}" defer></script>
</head>

<body>
    
    <div class= "nine-box"></div>
    <div class="nine_navbar1" style = "margin-bottom : -30px";>
        <ul style = "background-color: #f5ebe0;">
            <li><a href="two_item.html" style = "color: #71513c;">홈</a></li>
            <li><a href="nine_mypage.html" style = "color: #71513c;">마이페이지</a></li>
            <li><a href="login.html" style = "color: #71513c;">로그아웃</a></li>
        </ul>
    </div>
    
    <div class="nine-container">
        <div class="nine-market-name">
            <p>이화마켓</p>
            <div class="nine-separator"></div>
        </div>
        
        <div class="nine-user-profile">

            <img src="nine_profile.png" alt="사용자 프로필 사진">
            <div class="nine-user-name">USER</div>
            <div class="nine-following2">following 00</div>
            <div class="nine-follower2">follower 00</div>
            <button class="nine-bell-button"><img src="ring.png" alt="bell"></button>
            <button class="nine-follow-button">following</button>
        </div>

        <div class="nine-product-containers">
            <div class="nine-product-container">
                <h2>판매 상품</h2>
                <div class="nine-separator2"></div> 
                <button class="nine-page-button"><img class="nine-button-mark" src="arrowicon.png" alt="arrow"></button>


                <div class="nine-product-cards">
                    
                    <div class="nine-hot">
                        <p class = "nine-hot-title">HOT!</p>
                        <div class = "nine-hot-cards">
                            <a target="_blank">
                            <div class="nine-your-product-card">
                                <img src="nine_cake3.jpeg" alt="상품 이미지">
                                <h5>
                                    name
                                </h5>
                                <p>0000-00-00</p>
                            </div>
                        </a>

                        <a target="_blank">
                            <div class="nine-your-product-card">
                                <img src="nine_cake3.jpeg" alt="상품 이미지">
                                <h5>
                                    name
                                </h5>
                                <p>0000-00-00</p>
                            </div>
                        </a>

                         <a target="_blank">
                            <div class="nine-your-product-card">
                                <img src="nine_cake3.jpeg" alt="상품 이미지">
                                <h5>
                                    name
                                </h5>
                                <p>0000-00-00</p>
                            </div>
                        </a>

                         <a target="_blank">
                            <div class="nine-your-product-card">
                                <img src="nine_cake3.jpeg" alt="상품 이미지">
                                <h5>
                                    name
                                </h5>
                                <p>0000-00-00</p>
                            </div>
                        </a>
                        </div>

                    </div>
                    <div class = "nine_sort">
                    <button class = "nine_sort_button" onclick = "dropDown()">▼</button>
                    <div class = "nine_sort_bar" id = "dropdownContent">
                        <a href = "#">최신순</a>
                        <a href = "#">오래된순</a>
                        <a href = "#">이름순</a>
                        <a href = "#">낮은 가격순</a>
                        <a href = "#">높은 가격순</a>
                    </div>
                    </div>

                     <a target="_blank">
                            <div class="nine-your-product-card">
                                <img src="nine_cake3.jpeg" alt="상품 이미지">
                                <h5>
                                    name
                                </h5>
                                <p>0000-00-00</p>
                            </div>
                    </a>
                    

                     <a target="_blank">
                            <div class="nine-your-product-card">
                                <img src="nine_cake3.jpeg" alt="상품 이미지">
                                <h5>
                                    name
                                </h5>
                                <p>0000-00-00</p>
                            </div>
                      </a>

                     <a target="_blank">
                            <div class="nine-your-product-card">
                                <img src="nine_cake3.jpeg" alt="상품 이미지">
                                <h5>
                                    name
                                </h5>
                                <p>0000-00-00</p>
                            </div>
                    </a>

                    <a target="_blank">
                            <div class="nine-your-product-card">
                                <img src="nine_cake3.jpeg" alt="상품 이미지">
                                <h5>
                                    name
                                </h5>
                                <p>0000-00-00</p>
                            </div>
                    </a>
                    

                     <a target="_blank">
                            <div class="nine-your-product-card">
                                <img src="nine_cake3.jpeg" alt="상품 이미지">
                                <h5>
                                    name
                                </h5>
                                <p>0000-00-00</p>
                            </div>
                      </a>

                     <a target="_blank">
                            <div class="nine-your-product-card">
                                <img src="nine_cake3.jpeg" alt="상품 이미지">
                                <h5>
                                    name
                                </h5>
                                <p>0000-00-00</p>
                            </div>
                    </a>
                    
                     <a target="_blank">
                            <div class="nine-your-product-card">
                                <img src="nine_cake3.jpeg" alt="상품 이미지">
                                <h5>
                                    name
                                </h5>
                                <p>0000-00-00</p>
                            </div>
                    </a>
                    
                     <a target="_blank">
                            <div class="nine-your-product-card">
                                <img src="nine_cake3.jpeg" alt="상품 이미지">
                                <h5>
                                    name
                                </h5>
                                <p>0000-00-00</p>
                            </div>
                    </a>


                </div>
            </div>

</body>
</html>
