{%extends "top.html"%} {% block section %}
<html>
  <head>
    <title>MYPAGE</title>
  </head>
  <body>
<div class="nine-container">
        
        <div class="nine-user-profile">

            <p class = "user-profile-img">
            <img src="../static/images/yourpage.jpeg"/>
            </p>
            <div class="nine-user-name">USER</div>
            <div class="nine-following2">following 00</div>
            <div class="nine-follower2">follower 00</div>
            <button class="nine-bell-button"><img src="ring.png" alt="bell"></button>
            <button class="nine-follow-button">following</button>
            
        </div>

            <div style="width: 1000px; margin-top : 20px;" class="nine-product-container">
                <h2>판매 상품</h2>
                <div class="nine-separator"></div> 

                <div class="nine-product-cards">
                    
                    <div class="nine-hot">
                        <p class = "nine-hot-title">HOT!</p>
                        <div class = "nine-hot-cards">
                            <a target="_blank">
                            <div class="nine-your-product-card">
                                <img src="nine_cake3.jpeg" alt="상품 이미지">
                                <h5>
                                    name
                                </h5>
                                <p>0000-00-00</p>
                            </div>
                        </a>

                        <a target="_blank">
                            <div class="nine-your-product-card">
                                <img src="nine_cake3.jpeg" alt="상품 이미지">
                                <h5>
                                    name
                                </h5>
                                <p>0000-00-00</p>
                            </div>
                        </a>

                         <a target="_blank">
                            <div class="nine-your-product-card">
                                <img src="nine_cake3.jpeg" alt="상품 이미지">
                                <h5>
                                    name
                                </h5>
                                <p>0000-00-00</p>
                            </div>
                        </a>

                         <a target="_blank">
                            <div class="nine-your-product-card">
                                <img src="nine_cake3.jpeg" alt="상품 이미지">
                                <h5>
                                    name
                                </h5>
                                <p>0000-00-00</p>
                            </div>
                        </a>
                        </div>

                    </div>

                    <!-- 페이지네이션시 바뀌는 것들-->
                    <div class = "nine-else-product-container">
                         <a target="_blank">
                            <div class="nine-your-product-card">
                                <img src="nine_cake3.jpeg" alt="상품 이미지">
                                <h5>
                                    name
                                </h5>
                                <p>0000-00-00</p>
                            </div>
                    </a>
                    

                     <a target="_blank">
                            <div class="nine-your-product-card">
                                <img src="nine_cake3.jpeg" alt="상품 이미지">
                                <h5>
                                    name
                                </h5>
                                <p>0000-00-00</p>
                            </div>
                      </a>

                     <a target="_blank">
                            <div class="nine-your-product-card">
                                <img src="nine_cake3.jpeg" alt="상품 이미지">
                                <h5>
                                    name
                                </h5>
                                <p>0000-00-00</p>
                            </div>
                    </a>

                    <a target="_blank">
                            <div class="nine-your-product-card">
                                <img src="nine_cake3.jpeg" alt="상품 이미지">
                                <h5>
                                    name
                                </h5>
                                <p>0000-00-00</p>
                            </div>
                    </a>
                    

                     <a target="_blank">
                            <div class="nine-your-product-card">
                                <img src="nine_cake3.jpeg" alt="상품 이미지">
                                <h5>
                                    name
                                </h5>
                                <p>0000-00-00</p>
                            </div>
                      </a>

                     <a target="_blank">
                            <div class="nine-your-product-card">
                                <img src="nine_cake3.jpeg" alt="상품 이미지">
                                <h5>
                                    name
                                </h5>
                                <p>0000-00-00</p>
                            </div>
                    </a>
                    
                     <a target="_blank">
                            <div class="nine-your-product-card">
                                <img src="nine_cake3.jpeg" alt="상품 이미지">
                                <h5>
                                    name
                                </h5>
                                <p>0000-00-00</p>
                            </div>
                    </a>
                    
                     <a target="_blank">
                            <div class="nine-your-product-card">
                                <img src="nine_cake3.jpeg" alt="상품 이미지">
                                <h5>
                                    name
                                </h5>
                                <p>0000-00-00</p>
                            </div>
                    </a>
                    </div>
                    
                <div class="pagination">
                <ul>
                    <li><a href="#"><</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">></a></li>
                <!-- 페이지 번호들을 원하는 만큼 추가하세요 -->
                </ul>
            </div>
            </div>
    <!-- 나머지 컨텐츠를 이어서 추가하세요 -->
  </body>
  {% endblock section %}
</html>