{%extends "top.html"%} {% block section %}
<html>
  <head>
    <title>MYPAGE</title>
  </head>
  <body>
    <div class="nine-container">
      <div class="nine-user-profile">
        <p class="user-profile-img">
          <img src="../../static/images/mypage.jpeg" />
        </p>
        <div class="nine-user-name">{{session['id']}}</div>
        <div class="nine-follower1" style="cursor: default">
          {% if follower is none %} follower 00 {% else %} follower {{follower}}
          {% endif %}
        </div>
        <div
          class="nine-following1"
          onclick="location.href='/view_following/{{session['id']}}/';"
          style="cursor: pointer"
        >
          {% if data is none %} following 00 {% else %} following {{data}} {%
          endif %}
        </div>
      </div>

      <div class="nine-product-containers">
        <div class="nine-product-container">
          <h2>판매 상품</h2>
          <div class="nine-separator"></div>
          <button
            class="nine-page-button"
            onclick="window.location.href='/mysell/{{ session['id'] }}'"
          >
            <img
              class="nine-button-mark"
              src="../../static/images/arrowicon.png"
              alt="arrow"
            />
          </button>

          <div class="nine-product-cards">
            <div class="nine-product-card">
              <img
                src="../../static/images/nine_cake3.jpeg"
                alt="상품 이미지"
              />
              <h5>name</h5>
              <p>0000-00-00</p>
            </div>

            <div class="nine-product-card">
              <img
                src="../../static/images/nine_cake3.jpeg"
                alt="상품 이미지"
              />
              <h5>name</h5>
              <p>0000-00-00</p>
            </div>

            <div class="nine-product-card">
              <img
                src="../../static/images/nine_cake3.jpeg"
                alt="상품 이미지"
              />
              <h5>name</h5>
              <p>0000-00-00</p>
            </div>

            <div class="nine-product-card">
              <img
                src="../../static/images/nine_cake3.jpeg"
                alt="상품 이미지"
              />
              <h5>name</h5>
              <p>0000-00-00</p>
            </div>

            <div class="nine-product-card">
              <img
                src="../../static/images/nine_cake3.jpeg"
                alt="상품 이미지"
              />
              <h5>name</h5>
              <p>0000-00-00</p>
            </div>

            <div class="nine-product-card">
              <img
                src="../../static/images/nine_cake3.jpeg"
                alt="상품 이미지"
              />
              <h5>name</h5>
              <p>0000-00-00</p>
            </div>
          </div>
        </div>

        <div class="nine-product-container">
          <h2>관심 상품</h2>
          <div class="nine-separator"></div>
          <button
            class="nine-page-button"
            onclick="window.location.href='/mylike/{{ session['id'] }}'"
          >
            <img
              class="nine-button-mark"
              src="../../static/images/arrowicon.png"
              alt="arrow"
            />
          </button>

          <div class="nine-product-cards">
            <div class="nine-product-card">
              <img
                src="../../static/images/nine_cake3.jpeg"
                alt="상품 이미지"
              />
              <h5>name</h5>
              <p>0000-00-00</p>
            </div>

            <div class="nine-product-card">
              <img
                src="../../static/images/nine_cake3.jpeg"
                alt="상품 이미지"
              />
              <h5>name</h5>
              <p>0000-00-00</p>
            </div>

            <div class="nine-product-card">
              <img
                src="../../static/images/nine_cake3.jpeg"
                alt="상품 이미지"
              />
              <h5>name</h5>
              <p>0000-00-00</p>
            </div>

            <div class="nine-product-card">
              <img
                src="../../static/images/nine_cake3.jpeg"
                alt="상품 이미지"
              />
              <h5>name</h5>
              <p>0000-00-00</p>
            </div>

            <div class="nine-product-card">
              <img
                src="../../static/images/nine_cake3.jpeg"
                alt="상품 이미지"
              />
              <h5>name</h5>
              <p>0000-00-00</p>
            </div>

            <div class="nine-product-card">
              <img
                src="../../static/images/nine_cake3.jpeg"
                alt="상품 이미지"
              />
              <h5>name</h5>
              <p>0000-00-00</p>
            </div>
          </div>
        </div>

        <div class="nine-product-container">
          <h2>구매 상품</h2>
          <div class="nine-separator"></div>
          <button
            class="nine-page-button"
            onclick="window.location.href='/mybuy/{{ session['id'] }}'"
          >
            <img
              class="nine-button-mark"
              src="../../static/images/arrowicon.png"
              alt="arrow"
            />
          </button>

          <div class="nine-product-cards">
            <div class="nine-product-card">
              <img
                src="../../static/images/nine_cake3.jpeg"
                alt="상품 이미지"
              />
              <h5>name</h5>
              <p>0000-00-00</p>
            </div>

            <div class="nine-product-card">
              <img
                src="../../static/images/nine_cake3.jpeg"
                alt="상품 이미지"
              />
              <h5>name</h5>
              <p>0000-00-00</p>
            </div>

            <div class="nine-product-card">
              <img
                src="../../static/images/nine_cake3.jpeg"
                alt="상품 이미지"
              />
              <h5>name</h5>
              <p>0000-00-00</p>
            </div>

            <div class="nine-product-card">
              <img
                src="../../static/images/nine_cake3.jpeg"
                alt="상품 이미지"
              />
              <h5>name</h5>
              <p>0000-00-00</p>
            </div>

            <div class="nine-product-card">
              <img
                src="../../static/images/nine_cake3.jpeg"
                alt="상품 이미지"
              />
              <h5>name</h5>
              <p>0000-00-00</p>
            </div>

            <div class="nine-product-card">
              <img
                src="../../static/images/nine_cake3.jpeg"
                alt="상품 이미지"
              />
              <h5>name</h5>
              <p>0000-00-00</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 나머지 컨텐츠를 이어서 추가하세요 -->
  </body>
  {% endblock section %}
</html>
