<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>판매내역</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <script src="{{url_for('static', filename='main.js')}}" defer></script>
  </head>
  <body>
    <div class="two_top_navbar">
      <ul>
        <li><a href="/">홈</a></li>
        <li><a href="/mypage">마이페이지</a></li>
        {% if session['id'] %}
        <li>
          <a href="/logout">로그아웃</a>
          <b>{{session['id']}}님</b>
        </li>
        {% else %}
        <li><a href="/login">로그인</a></li>
        {% endif %}
      </ul>
    </div>
    <br />
    <br />
    <br />
    <div class="nine_name">
      <p href="buy.html">판매 목록</p>
    </div>
    <button class="nine_write_button" onclick="location.href='/reg_items'">
      글쓰기
    </button>
    <div class="nine_navpart2">
      <div class="nine_navbar2">
        <ul>
          <li>
            <a id="nine_sellingbar" class="active" onclick="menu1()">판매중</a>
          </li>
          <li><a id="nine_soldbar" onclick="menu2()">판매 완료</a></li>
        </ul>
      </div>
    </div>
    <div class="nine_separator"></div>
    <!-- 정렬 기능 -->
    <div class="nine_sort">
      <div class="nine_sort_mark">▼</div>
      <button class="nine_sort_button" onclick="toggleDiv()">최신순</button>
      <div class="nine_sort_content" id="sortContents">
        <a href="#">최신순</a>
        <a href="#">오래된순</a>
        <a href="#">이름순</a>
        <a href="#">낮은 가격순</a>
        <a href="#">높은 가격순</a>
      </div>
    </div>
    {% if total > 0 %}
    <section>
      <table>
        <tr>
          {%for key, value in datas %}
          <td>
            <img
              src="../static/images/{{value.img_path}}"
              ,
              width="140,"
              height="200"
            />
          </td>
          {%endfor%}
        </tr>
        <tr>
          {%for key, value in datas %}
          <td>
            <p class="nine_desc">{{key}}</p>
          </td>
          {%endfor%}
        </tr>
      </table>
      {% else %}
      <p>등록된 상품이 없습니다.</p>

      <div class="nine_list">
        <div class="nine_selling">
          <div class="nine_gallery"></div>
        </div>
      </div>
      {% endif %}

      <div class="nine_sold">
        <div class="nine_gallery" id="start">
          <a href="/product"><img src="../static/images/nine_cake2.jpeg" /></a>
          <div class="nine_heart" onclick="like(this)">♡</div>
          <p class="nine_desc">상품명</p>
          <p class="nine_desc2">10000원</p>
        </div>
        <div class="nine_gallery">
          <a href="/product"><img src="../static/images/nine_cake2.jpeg" /></a>
          <div class="nine_heart" onclick="like(this)">♡</div>
          <p class="nine_desc">상품명</p>
          <p class="nine_desc2">10000원</p>
        </div>
        <div class="nine_gallery">
          <a href="/product"><img src="../static/images/nine_cake2.jpeg" /></a>
          <div class="nine_heart" onclick="like(this)">♡</div>
          <p class="nine_desc">상품명</p>
          <p class="nine_desc2">10000원</p>
        </div>
        <div class="nine_gallery">
          <a href="/product"><img src="../static/images/nine_cake2.jpeg" /></a>
          <div class="nine_heart" onclick="like(this)">♡</div>
          <p class="nine_desc">상품명</p>
          <p class="nine_desc2">10000원</p>
        </div>
        <div class="nine_list">
          <div class="nine_gallery">
            <a href="/product"
              ><img src="../static/images/nine_cake2.jpeg"
            /></a>
            <div class="nine_heart" onclick="like(this)">♡</div>
            <p class="nine_desc">상품명</p>
            <p class="nine_desc2">10000원</p>
          </div>
          <div class="nine_gallery">
            <a href="/product"
              ><img src="../static/images/nine_cake2.jpeg"
            /></a>
            <div class="nine_heart" onclick="like(this)">♡</div>
            <p class="nine_desc">상품명</p>
            <p class="nine_desc2">10000원</p>
          </div>
          <div class="nine_gallery">
            <a href="/product"
              ><img src="../static/images/nine_cake2.jpeg"
            /></a>
            <div class="nine_heart" onclick="like(this)">♡</div>
            <p class="nine_desc">상품명</p>
            <p class="nine_desc2">10000원</p>
          </div>
          <div class="nine_gallery">
            <a href="/product"
              ><img src="../static/images/nine_cake2.jpeg"
            /></a>
            <div class="nine_heart" onclick="like(this)">♡</div>
            <p class="nine_desc">상품명</p>
            <p class="nine_desc2">10000원</p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
