<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상품 등록</title>
    <!--css, js 파일 연결-->
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <script src="{{url_for('static', filename='main.js')}}" defer></script>
  </head>

  
  <body>

    <h2 class="home-side"><a href="/">이화마켓</a></h2>
      <hr class="home-side-hr" />


    <div class="one-container">

      <h1 href="" class="sub-title">상품 등록</h1>
      <br><br>

      <form
        action="/submit_item_post"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="one_image_box">
          <label for="fileInput" style="cursor: pointer;">
            <input type="file" id="fileInput" name="file" accept="image/*" onchange="setThumbnail(event);" />
          </label>
          <button type="button" id="one_add_images" style="background: url('../static/images/Rectangle 45.png') no-repeat center center; background-size: cover; cursor: pointer;"></button>
          <script>
            function setThumbnail(event) {
                var reader = new FileReader();

                reader.onload = function (event) {
                    var img = document.createElement("img");
                    img.setAttribute("src", event.target.result);

                    // 수정된 부분
                    var imageBox = document.querySelector("div.one_image_box");
                    var button = document.getElementById("one_add_images");
                    button.style.background = "url('" + event.target.result + "') no-repeat center center";
                    button.style.backgroundSize = "cover";
                };

                reader.readAsDataURL(event.target.files[0]);
            }
          </script>
          <br />
        </div>

        <div class="one_input_form">
          <!--짧은 이미지 폼 넣는 곳: id, 상품명, 가격, 카테고리, 옵션, 기타 정보, 이벤트 글-->
          <div>
            <label for="id_i" class="box-label">ID: </label>
            <input
              type="text"
              class="one_input_type"
              name="id_i"
              id="one_id_i"
              required
            /><br />
          </div>
          <div>
            <label for="item_title" class="box-label">상품명: </label>
            <input
              type="text"
              class="one_input_type"
              name="item_title"
              id="one_item_title"
              required
            /><br />
          </div>
          <div>
            <label for="price" class="box-label">가격: </label>
            <input
              type="number"
              class="one_input_type"
              name="price"
              id="one_price"
              required
            /><br />
          </div>
          <div class>
            <label for="category" id="one_category_lab" class="box-label">카테고리: </label>
            <select id="one_category" class="one_select_type" name="category">
              <option value="Cake" selected>케이크</option>
              <option value="Macaroon">마카롱</option>
              <option value="Bagel">베이글</option>
              <option value="Cookie">쿠키</option>
              <option value="Croissant">크로와상</option>
              <option value="ECT_sel">기타</option>
              <br /><br />
            </select>
          </div>
          <div>
            <label for="option_dsc" class="box-label">옵션: </label>
            <input
              type="text"
              class="one_input_type"
              name="option_dsc"
              id="one_option_dsc"
            /><br />
          </div>
          
          <div>
            <label for="event_check" class="box-label">이벤트: </label>
            <input
              type="text"
              class="one_input_type"
              name="event_check"
              id="one_event_check"
            /><br />
          </div>
        </div>
        <div id="one_explain">
          <!--설명 추가하는 곳 <input type="text" name="explain" id="explain" required/><br />-->
          <br /><label for="explain" class="box-label">상품 설명: </label>
          <textarea id="one_explain_area" name="explain" rows="18" placeholder="내용을 입력하세요."></textarea>
        </div>
        <div class="one_submit_btn">
          <!--제출 버튼: submit, 돌아가기 버튼: 클릭 시 팝업 <input type="submit" value="Submit!"><br><br>-->
          <button type="button" id="one_back_i">돌아가기</button>
          <button type="submit" class="submit-button">완료</button>
        </div>
      </form>
    </div>
  </body>
</html>
