    <!-- -->


{%extends "top.html"%} {% block section %} {% with mesg = get_flashed_messages()
%} {% if mesg != [] %}
<head>
  <title>로그인</title>
</head>
<script>
  alert("{{ mesg[0] }}");
</script>
{% endif %} {% endwith %}
<body>
  <div id="seven_login_box">
    <h1 class="home-center"><a href="/">이화마켓</a></h1>
    <form action="/login_confirm" method="post">
      <div>
        <div>
          <input
            type="text"
            name="id"
            class="seven_userid"
            id="seven_userid"
            placeholder="아이디"
            required
          />
        </div>
        <br />

        <div>
          <input
            type="password"
            name="pw"
            class="seven_userpwd"
            id="seven_userpwd"
            placeholder="비밀번호"
            required
          />
        </div>
      </div>

      <div id="seven_checkbox_label1">
        <input
          type="checkbox"
          id="seven_id_remember"
          name="id_remember"
          value="on"
        />
        <label for="id_remember" id="seven_checkbox_label2"
          >아이디 기억하기</label
        >
      </div>

      <div>
        <button type="submit" value="로그인" id="seven_login">로그인</button>
      </div>
    </form>
  </div>
  <div id="seven_service">
    <br />
    <a href="">아이디 찾기</a>
    |
    <a href="/signup">회원가입</a>
  </div>
</body>
{% endblock section %}
