{% extends "index.html" %}

{% block section %}
{% with mesg = get_flashed_messages() %}
{% if mesg != [] %}
<script>alert("{{ mesg[0] }}")</script>
{% endif %}
{% endwith %}
<form method="post" action="/signup_post">
    <div id="eight_register_box">
    <div>
        <input type="text" name="id" class="eight_placeholder" id="eight_userid" placeholder="아이디"
            required />
        <button type="button" id="eight_id_check">아이디 체크</button>
    </div>
    <div>
        <span class="eight_check_word">*영문 8 - 21자, 숫자 포함</span>
        <input type="password" name="pw" class="eight_placeholder" id="eight_userpwd" placeholder="비밀번호"
            required />
    </div><br />
    <div>
        <input type="password" name="userpwd" class="eight_placeholder" id="eight_userpwd_check"
            placeholder="비밀번호 확인" required />
        <span class="eight_check_word">비밀번호 체크</span>
    </div><br>
    <div>
        <input type="text" name="nickname" class="eight_placeholder" id="eight_nickname" placeholder="닉네임"
            required />
    </div><br>
    <div>
        <input type="text" name="phonenum" class="eight_placeholder" id="eight_phonenum"
            placeholder="[선택]휴대전화번호" required />
    </div><br />
    <div>
        <button type="submit" id="eight_login">회원가입</button>
    </div>
    </div>
</form>

{% endblock section %}