<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리뷰 페이지</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <script src="{{url_for('static', filename='main.js')}}" defer></script>
</head>
<body>

    <h2 class="home-side"><a href="/">이화마켓</a></h2>
      <hr class="home-side-hr" />

    <div class="six-container">
        
        <div class="six-user-info">
            <div class="six-avatar"><img class="six-user-image" src=""></div>
            <div class="six-user-details">
                <p class="six-nickname">Nickname</p>
                <p class="six-product-name">상품명</p>
                <p class="six-review-title">리뷰 제목</p>
                <p class="six-date">2023-01-01</p>
            </div>
            <div class="six-unstar_rating">
                <span class="six-unstar">&#9733;</span> 
                <span class="six-unstar">&#9733;</span> 
                <span class="six-unstar">&#9733;</span> 
                <span class="six-unstar">&#9734;</span> 
                <span class="six-unstar">&#9734;</span> 
            </div>
        </div>
        <div id="six-wrap_image">
            <article class="six-article"><img class="six-img" src="../static/images/dessert1.jpg"></article>
            <article class="six-article"><img class="six-img" src="../static/images/dessert2.jpg"></article>
            <article class="six-article"><img class="six-img" src="../static/images/dessert3.jpg"></article>
            <article class="six-article"><img class="six-img" src="../static/images/dessert4.jpg"></article>
        </div>
        <textarea class="detail-txt" id="readonly" readonly></textarea>
        <div id="six-thumb">
            도움이 되었어요 <img id="six-thumb-image" src="../static/images/" onclick="toggleImage()">
        </div>
    </div>
</body>
</html>
