<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>EWHA MARKET</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <script src="{{url_for('static', filename='main.js')}}" defer></script>
  </head>
  <body>
    <div class="top_navbar">
      <ul>
        <li><a href="/">홈</a></li>
        <li><a href="/mypage">마이페이지</a></li>
        {% if session['id'] %}
        <li>
          <a href="/logout">로그아웃</a>
          <b>{{session['id']}}님</b>
        </li>
        {% else %}
        <li><a href="/login">로그인</a></li>
        {% endif %}
      </ul>
    </div>

    <nav class="navbar">
        <p>이화마켓</p>
        <div class="navbar_container">
          <ul>
            <li><a href="/">전체 상품</a></li>
            <li><a href="/reg_items">상품 등록</a></li>
            <li><a href="/review">전체 리뷰</a></li>
            <li><a href="">리뷰 등록</a></li>
          </ul>
        </div>
      </nav>

    <div class="separator"></div>

    {% block section %} {% endblock %}
  </body>
</html>
