
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EWHA MARKET</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <script src = "main.js"></script>
</head>
<body>
    <div class="two_top_navbar">
        <ul>
            <li><a href="two_item.html">홈</a></li>
            <li><a href="nine_mypage.html">마이페이지</a></li>
            <li><a href="login.html">로그아웃</a></li>
        </ul>
    </div>
    
    <nav class="two_navbar">
        <p>이화마켓</p>
        <div class = "two_navbar_container">
            <ul>
                <li><a href="">전체 상품</a></li>
                <li><a href="">상품 등록</a></li>
                <li><a href="">전체 리뷰</a></li>
                <li><a href="">리뷰 등록</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="two_separator"></div>
    
{% block section %}
    
{% endblock %}

</body>
</html>
