<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>EWHA SANTA</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script src="{{url_for('static', filename='main.js')}}" defer></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  </head>
  <body>
    <div class="full-container">
      <nav class="navbar">
        <div class="top_navbar">
          <ul>
            {% if session['id'] %}
            <li><a href="/mypage/{{ session['id'] }}/">마이페이지</a></li>
            <li>
              <a href="/logout">로그아웃</a>
              <b>{{ session['id'] }}님</b>
            </li>
            {% else %}
            <li><a href="/login">로그인</a></li>
            <li><a href="/signup">회원가입</a></li>
            {% endif %}
          </ul>
        </div>

        <div class="christ-icon">
          <img src="../../static/images/tree.webp" />
        </div>
        <div class="title"><a href="/">이화산타</a></div>
        <div class="navbar_container">
          <ul>
            <li class="menu">
              <div class="snow-icon">
                <img src="../../static/images/snow.png" />
              </div>
              <a href="/">전체 상품</a>
            </li>
            <li class="menu">
              <div class="snow-icon">
                <img src="../../static/images/snow.png" />
              </div>
              <a href="/reg_items">상품 등록</a>
            </li>
            <li class="menu">
              <div class="snow-icon">
                <img src="../../static/images/snow.png" />
              </div>
              <a href="/review">전체 리뷰</a>
            </li>
            {% if session['id'] %}
            <li class="menu">
              <div class="snow-icon">
                <img src="../../static/images/snow.png" />
              </div>
              <a href="/mybuy/{{session['id']}}">리뷰 등록</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>

      <div class="separator"></div>

      {% block section %} {% endblock %}
      <div class="lower-section">
        <div class="about-us-container">
          <div class="content-title">ABOUT PUBLIC OF COMPUTER</div>
          <pre>
Our team was formed in the "Open SW Platform" class.
Our goal is to form a dessert market for students
at EWHA Womans University.
With the Christmas theme, we provide services 
about dessert trading and communicating with users 
using profile and follow functions.
            </pre
          >
        </div>
        <div class="about-us-container">
          <div class="content-title">SUPPORT</div>
          <a href="/contact"><p>About us</p></a>
          <p a href="/">FAQS</p>
        </div>
        <div class="about-us-container">
          <p>
            E-mail : poc@ewha.ac.kr<br />
            Phone : 02)1886-1886
          </p>
          <div class="separator" style="border: 1px solid #f5ebe0"></div>
          <p>Copyright ⓒ Public of Computer Company · All rights reserved</p>
        </div>
      </div>
    </div>
  </body>
</html>
