{%extends "top.html"%} {% block section %}
<body>
  <div class="sort">
    <div class="sort_mark">▼</div>
    <button class="sort_button" onclick="toggleDiv()">최신순</button>
    <div class="sort_content" id="sortContents">
      <a href="#">최신순</a>
      <a href="#">오래된순</a>
      <a href="#">이름순</a>
      <a href="#">낮은 가격순</a>
      <a href="#">높은 가격순</a>
    </div>
  </div>

  <div class="container">
    <div class="card">
      <a href="/itemDetail"><img src="../static/images/two_cake.jpeg" /></a>
      <div class="text">
        <p class="item_name">케이크</p>
        <p class="item_price">10000원</p>
      </div>
    </div>
    <div class="card">
      <a href="/itemDetail"><img src="../static/images/two_cake.jpeg" /></a>
      <div class="text">
        <p class="item_name">케이크</p>
        <p class="item_price">10000원</p>
      </div>
    </div>
    <div class="card">
      <a href="/itemDetail"><img src="../static/images/two_cake.jpeg" /></a>
      <div class="text">
        <p class="item_name">케이크</p>
        <p class="item_price">10000원</p>
      </div>
    </div>
    <div class="card">
      <a href="/itemDetail"><img src="../static/images/two_cake.jpeg" /></a>
      <div class="text">
        <p class="item_name">케이크</p>
        <p class="item_price">10000원</p>
      </div>
    </div>

    <div class="card">
      <a href="#"><img src="../static/images/two_cake.jpeg" /></a>
      <div class="text">
        <p class="item_name">케이크</p>
        <p class="item_price">10000원</p>
      </div>
    </div>
    <div class="card">
      <a href="#"><img src="../static/images/two_cake.jpeg" /></a>
      <div class="text">
        <p class="item_name">케이크</p>
        <p class="item_price">10000원</p>
      </div>
    </div>
    <div class="card">
      <a href="#"><img src="../static/images/two_cake.jpeg" /></a>
      <div class="text">
        <p class="item_name">케이크</p>
        <p class="item_price">10000원</p>
      </div>
    </div>
    <div class="card">
      <a href="#"><img src="../static/images/two_cake.jpeg" /></a>
      <div class="text">
        <p class="item_name">케이크</p>
        <p class="item_price">10000원</p>
      </div>
    </div>

    <div class="card">
      <a href="#"><img src="../static/images/two_cake.jpeg" /></a>
      <div class="text">
        <p class="item_name">케이크</p>
        <p class="item_price">10000원</p>
      </div>
    </div>
    <div class="card">
      <a href="#"><img src="../static/images/two_cake.jpeg" /></a>
      <div class="text">
        <p class="item_name">케이크</p>
        <p class="item_price">10000원</p>
      </div>
    </div>
    <div class="card">
      <a href="#"><img src="../static/images/two_cake.jpeg" /></a>
      <div class="text">
        <p class="item_name">케이크</p>
        <p class="item_price">10000원</p>
      </div>
    </div>
    <div class="card">
      <a href="#"><img src="../static/images/two_cake.jpeg" /></a>
      <div class="text">
        <p class="item_name">케이크</p>
        <p class="item_price">10000원</p>
      </div>
    </div>
  </div>
  <div class="pagination">
    <ul>
      <li><a href="#"><</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">></a></li>
      <!-- 페이지 번호들을 원하는 만큼 추가하세요 -->
    </ul>
  </div>
</body>
{% endblock section %}
