

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EWHA MARKET</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <script src = "main.js"></script>
</head>
<body>
    <div class="two_top_navbar">
        <ul>
            <li><a href="two_item.html">홈</a></li>
            <li><a href="nine_mypage.html">마이페이지</a></li>
            <li><a href="login.html">로그아웃</a></li>
        </ul>
    </div>
    
    <nav class="two_navbar">
        <p>이화마켓</p>
        <div class = "two_navbar_container">
            <ul>
                <li><a href="">전체 상품</a></li>
                <li><a href="">상품 등록</a></li>
                <li><a href="">전체 리뷰</a></li>
                <li><a href="">리뷰 등록</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="two_separator"></div>

   <div class = "nine_sort">
                    <button class = "nine_sort_button" onclick = "dropDown()">▼</button>
                    <div class = "nine_sort_bar" id = "dropdownContent">
                        <a href = "#">최신순</a>
                        <a href = "#">오래된순</a>
                        <a href = "#">이름순</a>
                        <a href = "#">낮은 가격순</a>
                        <a href = "#">높은 가격순</a>
                    </div>
    </div>
    <div class="two_container">
        
        <div class="two_card">
            <a href = "#"><img src="two_cake.jpeg"></a>
            <div class="two_text">
                <p class="two_item_name">케이크</p>
                <p class="two_item_price">10000원</p>
            </div>
        </div>
       <div class="two_card">
            <a href = "#"><img src="two_cake.jpeg"></a>
            <div class="two_text">
                <p class="two_item_name">케이크</p>
                <p class="two_item_price">10000원</p>
            </div>
        </div>
        <div class="two_card">
            <a href = "#"><img src="two_cake.jpeg"></a>
            <div class="two_text">
                <p class="two_item_name">케이크</p>
                <p class="two_item_price">10000원</p>
            </div>
        </div>
        <div class="two_card">
            <a href = "#"><img src="two_cake.jpeg"></a>
            <div class="two_text">
                <p class="two_item_name">케이크</p>
                <p class="two_item_price">10000원</p>
            </div>
        </div>
        
        <div class="two_card">
            <a href = "#"><img src="two_cake.jpeg"></a>
            <div class="two_text">
                <p class="two_item_name">케이크</p>
                <p class="two_item_price">10000원</p>
            </div>
        </div>
       <div class="two_card">
            <a href = "#"><img src="two_cake.jpeg"></a>
            <div class="two_text">
                <p class="two_item_name">케이크</p>
                <p class="two_item_price">10000원</p>
            </div>
        </div>
        <div class="two_card">
            <a href = "#"><img src="two_cake.jpeg"></a>
            <div class="two_text">
                <p class="two_item_name">케이크</p>
                <p class="two_item_price">10000원</p>
            </div>
        </div>
        <div class="two_card">
            <a href = "#"><img src="two_cake.jpeg"></a>
            <div class="two_text">
                <p class="two_item_name">케이크</p>
                <p class="two_item_price">10000원</p>
            </div>
        </div>
        
        
        <div class="two_card">
            <a href = "#"><img src="two_cake.jpeg"></a>
            <div class="two_text">
                <p class="two_item_name">케이크</p>
                <p class="two_item_price">10000원</p>
            </div>
        </div>
       <div class="two_card">
            <a href = "#"><img src="two_cake.jpeg"></a>
            <div class="two_text">
                <p class="two_item_name">케이크</p>
                <p class="two_item_price">10000원</p>
            </div>
        </div>
        <div class="two_card">
            <a href = "#"><img src="two_cake.jpeg"></a>
            <div class="two_text">
                <p class="two_item_name">케이크</p>
                <p class="two_item_price">10000원</p>
            </div>
        </div>
        <div class="two_card">
            <a href = "#"><img src="two_cake.jpeg"></a>
            <div class="two_text">
                <p class="two_item_name">케이크</p>
                <p class="two_item_price">10000원</p>
            </div>
        </div>

    </div>
    <div class="two_pagination">
        <ul>
            <li><a href="#"><</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">></a></li>
        <!-- 페이지 번호들을 원하는 만큼 추가하세요 -->
        </ul>
    </div>
    
</body>
</html>
