<!DOCTYPE html>
<html>
<head>
    <title>EWHA MARKET</title>

    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div class="nine-container">
        <div class="nine-market-name">
            <h2>이화마켓</h2>
            <div class="nine-separator"></div>
        </div>
        
        <div class="nine-user-profile">

            <img src="사용자_프로필.png" alt="사용자 프로필 사진">
            <div class="nine-user-name">USER</div>
            <div class="nine-following">following00</div>
            <div class="nine-follower">follower00</div>
            <button class="nine-bell-button"><img src="종.png" alt="bell"></button>
            <button class="nine-follow-button">following</button>
        </div>

        <div class="nine-product-containers">
            <div class="nine-product-container">
                <h2>판매중인 상품</h2>
                <div class="nine-separator"></div> 
                <button class="nine-page-button"><img class="nine-button-mark" src="화살표.png" alt="arrow"></button>


                <div class="nine-product-cards">

                    <div class="nine-hot-cards">
                        <h3>HOT!</h3>

                        <a target="_blank">
                            <div class="nine-product-card">
                                <img src="이미지_파일의_경로.png" alt="상품 이미지">
                                <h5>
                                    name
                                </h5>
                                <p>0000-00-00</p>
                            </div>
                        </a>

                        <a target="_blank">
                            <div class="nine-product-card">
                                <img src="이미지_파일의_경로.png" alt="상품 이미지">
                                <h5>
                                    name
                                </h5>
                                <p>0000-00-00</p>
                            </div>
                        </a>

                        <a target="_blank">
                            <div class="nine-product-card">
                                <img src="이미지_파일의_경로.png" alt="상품 이미지">
                                <h5>
                                    name
                                </h5>
                                <p>0000-00-00</p>
                            </div>
                        </a>

                        <a target="_blank">
                            <div class="nine-product-card">
                                <img src="이미지_파일의_경로.png" alt="상품 이미지">
                                <h5>
                                    name
                                </h5>
                                <p>0000-00-00</p>
                            </div>
                        </a>

                    </div>

                    <a target="_blank">
                        <div class="nine-product-card">
                            <img src="이미지_파일의_경로.png" alt="상품 이미지">
                            <h5>
                                name
                            </h5>
                            <p>0000-00-00</p>
                        </div>
                    </a>
                    

                    <a target="_blank">
                        <div class="nine-product-card">
                            <img src="이미지_파일의_경로.png" alt="상품 이미지">
                            <h5>
                                name
                            </h5>
                            <p>0000-00-00</p>
                        </div>
                    </a>

                    <a target="_blank">
                        <div class="nine-product-card">
                            <img src="이미지_파일의_경로.png" alt="상품 이미지">
                            <h5>
                                name
                            </h5>
                            <p>0000-00-00</p>
                        </div>
                    </a>

                    <a target="_blank">
                        <div class="nine-product-card">
                            <img src="이미지_파일의_경로.png" alt="상품 이미지">
                            <h5>
                                name
                            </h5>
                            <p>0000-00-00</p>
                        </div>
                    </a>

                    <a target="_blank">
                        <div class="nine-product-card">
                            <img src="이미지_파일의_경로.png" alt="상품 이미지">
                            <h5>
                                name
                            </h5>
                            <p>0000-00-00</p>
                        </div>
                    </a>

                    <a target="_blank">
                        <div class="nine-product-card">
                            <img src="이미지_파일의_경로.png" alt="상품 이미지">
                            <h5>
                                name
                            </h5>
                            <p>0000-00-00</p>
                        </div>
                    </a>


                </div>
            </div>

</body>
</html>
